* {
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.fullvideo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
.fullvideo::after{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.fullvideo__title {
    font-size: 300px;
    color: white;
    z-index: 10;
}
.movie{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}